@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --width: 1000px;
    --background: #CAF0F8;
    --intense-background: #90E0EF;
    --highlight: #00B4D8;
    --darker-highlight: #0077B6;
    --dark: #03045E;
}

*, *::before, *::after{
    box-sizing: border-box;
}

body{
    font-family: Roboto, sans-serif;
    background: var(--background);
    margin: 0;
}

nav{
    width: 100%;
    background: var(--intense-background);
    padding: 20px calc((100% - var(--width)) / 2);
}

div#nav__logo{
    font-weight: bolder;
    font-size: 18px;
}

#page_title{
    width: var(--width);
    margin: auto;
    font-size: 36px;
    font-weight: 300;
    padding: 20px 0;
}

@media (max-width: 1020px){
    :root{
        --width: calc(100vw - 20px);
    }
}
